ruby:
  deploy_sources = services.filter_map { _1.dig('Spec', 'Labels', 'dry-stack.deploy.source') }.uniq
  deploy_sources.reject! { _1.strip.empty? }

- deploy_sources.each do |source|
  - if source.match?(/\Ahttps?:\/\//i)
    a.deploy-source href=source = source
  - else
    span.deploy-source = source
