doctype html
html
  head
    meta[charset="utf-8"]
    title Stack insight
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    sass:
      body1
        background-color: black
        color: white
      .action
        margin-left: 1em
      .sha256, .stack_name, .container_name
        opacity: 0.5
        margin-left: 0.3em
      table
        width: 100%
        border-collapse: collapse
        tr:hover
          background: antiquewhite
        td, th
          padding-right: 1em
          text-align: left
          white-space: nowrap
          max-width: 18vw
          overflow: hidden
          text-overflow: ellipsis
          //word-wrap: break-word
          //word-break: break-all
      body
        font-family: monospace
        nav
          margin: -0.5em
          background: #ededed
          a
            font-size: 1.5em
            text-decoration: none
            &:hover
              text-decoration: underline

  body
    nav style="display: flex; justify-content: space-between; padding: 1em;"
      a href=(request.path_info[/(.*insight)/, 1] + '/') #Home
    javascript:
      if (!location.href.includes('?') && !location.href.endsWith('/')) { location.href = location.href + '/'; }

    == yield
