h1 Service Logs: #{params[:service]}
/ - logs = `docker service logs -n 100 --raw -t #{params[:service]}`
- logs = `docker service logs -n 100 #{params[:service]} 2>&1`
== slim :ansi2html, locals: {  }
pre
  javascript:
    document.write( ansiToHtml( `#{{logs}}` ) );

