h1 Service Logs: #{params[:service]}
#logs

== slim :ansi2html, locals: {  }
javascript:
  window.onload = function (){
      let el = document.getElementById('logs');
      let show = (msg) => {
        let line = document.createElement('div');
        line.className = 'line';
        line.innerHTML = ansiToHtml(msg);
        el.appendChild(line);
        if (el.children.length > 30) {
          el.removeChild(el.firstChild);
        }
      };

      let protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
      let ws = new WebSocket(protocol + window.location.host + window.location.pathname + '?service=' + '#{params[:service]}');
      ws.onopen =  () => show('--websocket opened--');
      ws.onclose = () => show('--websocket closed--');
      ws.onmessage = (m) => show(m.data);
  }

