h1 Update Service: #{params[:service]}
- image =`docker service inspect #{params[:service]} --format '{{.Spec.TaskTemplate.ContainerSpec.Image}}'`
- image = image.gsub(/@sha256:.*/, '')
h2 Docker pull image: #{image}
pre = `docker pull #{image} 2>&1 | grep -vE '\[.*=>.*\]'`
h2 Docker service update
pre = `docker service update --force #{params[:service]} --image #{image} 2>&1 | grep -vE '\[.*=>.*\]'`
h2 Docker ps (current Node)
- ps = `docker ps --no-trunc 2>&1 | grep #{params[:service]}`.gsub /\s+/, ' '
pre = ps
h2 Docker service ps
pre = `docker service ps --no-trunc #{params[:service]} 2>&1`

